<p>forgotpassword works!</p>

<div class="section">
    <div class="form">
        <div fxLayout="column" fxLayoutAlign="space-evenly center">

            <div class="heading">
                <p class="color1">H</p>
                <p class="color2">O</p>
                <p class="color4">T</p>
                <p class="color4">E</p>
                <p class="color5">L</p>
                <pre>  </pre>
                <p class="color6">R</p>
                <p class="color4">O</p>
                <p class="color4">S</p>
                <p class="color5">E</p>
        
            </div>
    
            <div class="title">
                <p>What's your password?</p>
        
            </div>
            <div class="title1">
                <p>Enter your password</p>
        
            </div>

        <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">

            <div class="Password">
                
                <mat-form-field appearance="outline">
                    <mat-label> New password</mat-label>
                    <input type="text" formControlName="newpassword" matInput placeholder="Password">
                    <mat-error>Enter a password</mat-error>
                  </mat-form-field>
    
            </div>

            <div class="newpassword">
                
                <mat-form-field appearance="outline">
                    <mat-label>Confirm password</mat-label>
                    <input type="text" formControlName="confirmPassword" matInput placeholder="New password">
                    <mat-error>Confirm password</mat-error>
                </mat-form-field>
    
            </div>

            <div class="nextbutton">
                <button class="button4" >Next</button>
        
        
            </div>

        </form> <!--closing tag of form-->


        </div>  <!--closing div of div fxlayout column-->

    </div>

</div>