.section {

    width: 99vw;
    height: 100vh;
    background-color: white;
}

.form {
    border: 1px solid gainsboro;
    display: flex;
    width: 30%;
    height: 78%;
    position: relative;
    left: 36%;
    top: 5%;
    border-radius: 10px;


}


.heading {

    line-height: 1;
    height: 10%;
    width: 20%;
    text-align: center;
    display: flex;
    position: relative;
    top: 5%;
    left: 5%;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.color1 {
    color: blue;
}

.color2 {
    color: red;

}

.color3 {
    color: yellow;

}

.color4 {
    color: blue;

}

.color5 {
    color: green;

}

.color6 {
    color: red;

}

.title {

    display: flex;
    flex-direction: row;
    position: relative;
    left: 35%;
    top: -3%;
    width: 80%;
    color: #202124;
    font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;

}

.title1 {

    color: #202124;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 1.5;
    text-align: center;
    font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
    position: relative;
    left: 16%;
    top: -7%;
}


.emailorphone {


    position: relative;
    top: -18%;
    left: 8%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 35px;
    padding: 6px 8px;
    margin: 2px;
    border-radius: 3px;

}

.mat-form-field {
    width: 120%;
}

.forgotemailbutton {

    position: relative;
    left: 8%;
    width: 70%;
    top: -17%;
    font-size: 14px;
    height: 40px;
    padding: 6px 8px;
    margin: 2px;
    margin-top: 5%;

}

.button {

    position: relative;
    right: 2%;
    top: 2%;

    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    background-color: transparent;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;

}

.password {


    position: relative;
    top: -22%;
    left: 8%;
    width: 100%;

    display: flex;
    justify-content: space-between;
    font-size: 14px;
    height: 35px;
    padding: 6px 8px;
    margin: 2px;
    border-radius: 3px;

}

.paragraph {

    color: #5f6368;
    font-size: 14px;
    line-height: 1.4286;
    position: relative;
    top: -8%;
    left: 10%;
    margin-top: 8%;

}

.learnmorebutton {

    position: relative;
    top: -7%;
    left: 8%;
    width: 70%;
    font-size: 14px;
    height: 40px;
    padding: 6px 8px;
    margin: 2px;
    margin-top: -4%;

}

.button2 {

    position: relative;
    right: 4%;
    top: -14%;

    font-family: "Google Sans", Roboto, Arial, sans-serif;
    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    background-color: transparent;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;
    margin-top: 1%;




}

.createaccountandnextbutton {

    position: relative;
    left: 8%;
    width: 100%;

    top: -6%;
    font-size: 14px;
    height: 20px;
    padding: 6px 8px;
    margin: 2px;

}

.button3 {

    color: var(--gm-colortextbutton-ink-color, #1a73e8);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    background-color: transparent;
    position: relative;
    right: 3%;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;


}

.button4 {

    position: relative;
    left: 48%;

    background-color: var(--gm-colortextbutton-ink-color, #1a73e8);
    color: white;
    border-radius: 6px;
    width: 22%;
    height: 180%;
    font-size: .875rem;
    letter-spacing: .0107142857em;
    font-weight: 500;
    text-transform: none;
    cursor: pointer;
    border: none;

}

@media only screen and (max-width: 480px) {
    .heading {

        line-height: 1;
        height: 10%;
        width: 20%;
        text-align: center;
        display: flex;
        position: relative;
        left: 10%;
        top: -15%;
        font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
        font-size: 20px;
        font-weight: 400;
    }

    .section {

        width: 100vw;
        height: 150vh;
        background-color: white;
    }

    .form {
        border: 1px solid gainsboro;
        display: flex;
        width: 118%;
        height: 78%;
        position: relative;
        left: 36%;
        top: 5%;
        border-radius: 10px;


    }


    .title {

        display: flex;
        flex-direction: row;
        position: relative;
        left: 40%;
        top: -3%;
        width: 80%;
        color: #202124;
        font-family: 'Google Sans', 'Noto Sans Myanmar UI', arial, sans-serif;
        font-size: 18px;
        font-weight: 100;
        line-height: 1.3333;

    }

    .title1 {

        color: #202124;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 0.1px;
        line-height: 1.5;
        text-align: center;
        font-family: roboto, 'Noto Sans Myanmar UI', arial, sans-serif;
        position: relative;
        left: 8%;
        top: -17%;
    }

    .mat-form-field {
        width: 150%;
    }

    .button4{
    
        position: relative;
        left: 60%;
        top:-10px;
        
        background-color: var(--gm-colortextbutton-ink-color,#1a73e8);
        color: white;
        border-radius: 6px;
        width: 22%;
        height: 180%;
        font-size: .875rem;
        letter-spacing: .0107142857em;
        font-weight: 500;
        text-transform: none;
        cursor: pointer;
        border: none;
    
    }
}